@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
	margin: 0;
	font-family: 'roboto';
}

.page-content {
	max-width: 1170px;
	min-width: 359px;
	margin: auto;
}

header {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.header-top-box {
	background-color: #7abcac;
	height: 60px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.cv-language {
	background-color: #c4c4c4;
	margin-right: 40px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.cv-language option {
	background-color: #c4c4c4;
	border: none;
	outline: none;
}

.header-bottom-box {
	text-align: center;
	border: 4px solid black;

	margin: 0 auto;
	margin-top: -25px;
	padding: 0px 80px;
}

header p {
	font-weight: bold;
	text-transform: uppercase;
}

.name {
	font-size: 45px;
	margin-bottom: 0px;
}

.job-title {
	font-size: 25px;
	background-color: black;
	color: white;
	max-width: 250px;
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 35px;
}

main {
	padding-top: 20px;
}

.links-about-me {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.title {
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}

.section-division {
	height: 4px;

	background-color: #dcdcdc;
	margin-bottom: 15px;
	display: flex;
}

.section-division div {
	height: 12px;
	min-width: 90px;
	background-color: #7abcac;
	margin-top: -5px;
}

.about-me {
	min-width: 210px;
	margin-bottom: 40px;
	margin-left: 45px;
}

.aboutMe-division {
	height: 4px;
	background-color: #dcdcdc;
	margin-bottom: 15px;
	display: flex;
}

.aboutMe-division div {
	height: 12px;
	min-width: 90px;
	background-color: #7abcac;
	margin-top: -5px;
}

.lorem {
	font-size: 19px;
	font-weight: 400;
}

.links ul {
	list-style-type: none;
	margin-top: 10px;
}

.links ul li {
	margin-bottom: 15px;
}

.links ul li a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-align: center;
	display: flex;
	font-size: 19px;
	align-items: center;
	margin-left: 40px;
}

.links-division,
.education-division-top,
.personal-skills-division,
.technical-skills-division {
	height: 4px;
	min-width: 350px;
	background-color: #dcdcdc;
	display: inline-block;
	margin-bottom: 15px;
	/* margin-top: -15px; */
}

.links-division div,
.education-division-top div,
.personal-skills-division div,
.technical-skills-division div {
	height: 12px;
	max-width: 90px;
	background-color: #7abcac;
	display: block;
	margin-top: -5px;
}

img {
	margin-left: -40px;
	margin-right: 10px;
	vertical-align: middle;
}

.education-personal-technical-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.education-top-content p,
.education-bottom-content p {
	font-size: 19px;
	font-weight: 600;
}

.education-top-content {
	margin-top: 20px;
}

.education-bottom-content,
.education-top-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.education-division {
	height: 4px;
	min-width: 201px;
	background-color: #dcdcdc;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: -15px;
}

.links,
.education,
.personal-skills {
	padding-bottom: 15px;
	margin-right: 20px;
}

.education p {
	margin-top: -5px;
}

.personal-skills p,
.technical-skills p {
	font-size: 19px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 2px 10px 2px 10px;
}

.green {
	background-color: #7abcac;
	border-radius: 10px;
	max-width: fit-content;
	margin-bottom: 30px;
}

.yellow {
	background-color: #d8da79;
	border-radius: 10px;
	max-width: fit-content;
	margin-bottom: 30px;
}

.orange {
	background-color: #c29486;
	border-radius: 10px;
	max-width: fit-content;
	margin-bottom: 30px;
}

.work-experience {
	padding-bottom: 40px;
}

.work-experience-content-top {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	line-height: 10px;
}

.work-experience-content-bottom {
	font-weight: 500;
	font-size: 16px;
}

.work-exp-job-title {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.all-work-experience-content {
	display: flex;
	flex-direction: row;
	max-width: fit-content;
	justify-content: space-between;
}

.work-experience-content-bottom ul li {
	list-style-type: circle;
	line-height: normal;
	margin-top: 5px;
	list-style-type: disc;
	margin-left: -25px;
}

.work-experience-content-bottom p {
	text-align: justify;
	font-size: 18px;
	line-height: normal;
}

.work-experience-content {
	padding-right: 30px;
	padding-left: 30px;
}

.my-work {
	border-right: 3px solid #dcdcdc;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 40px;
}

.footer-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
}

.footer-content a,
p {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.footer-content a:active {
	color: #7abcac;
}

.footer-content a:focus {
	color: #7abcac;
}

.footer-content a:hover {
	color: #7abcac;
}

.address,
.contact,
.social {
	font-size: 25px;
	margin: 0 auto;
	background-color: black;
	color: white;
	max-width: 250px;
	padding: 2px 80px;
	text-transform: uppercase;
	margin-top: 20px;
}

.address-city,
.phone,
.linkedin {
	margin-top: 15px;
}

.email,
.twitter {
	margin-top: 5px;
}
